Repository sakura-editor/sakura, pull requests merged in 2019-07, with the labels that each got.

#952 Azure Pipelines 環境で test_result_filter_tell_AppVeyor.bat が実行されないようにする
  tests/run-tests.bat
Labels: CI, appveyor, azure pipelines

#951 find-tools.bat の endlocal の後の set を複数行に分けて書く
  tools/find-tools.bat
Labels: refactoring

#959 cpplint.py の whitespace/blank_line をチェック対象から外す
  CPPLINT.cfg
Labels: CI, CodeFactor

#962 help構築用にplatform定義を追加する
  appveyor.yml
  help/make-artifacts.bat
Labels: CI, appveyor, document

#967 Azure Pipelines向けのhelp、インストーラーの生成を一旦やめる
  ci/azure-pipelines/template.job.build-unittest.yml
Labels: CI, azure pipelines

#960 appveyor.yml に test_script を導入する
  appveyor.yml
Labels: CI, appveyor

#969 APPVEYOR_REPO_COMMIT および APPVEYOR_SHORTHASH への参照を廃止、代替変数を参照して Azure Pipelines 対応の準備をする
  appveyor.md
  appveyor_env.py
  help/make-artifacts.bat
  sakura/githash.bat
  sakura_core/dlg/CDlgAbout.cpp
  sakura_core/sakura_rc.rc
  sakura_lang_en_US/sakura_lang_rc.rc
  zipArtifacts.bat
Labels: CI, appveyor, azure pipelines, refactoring

#970 Appveyorのビルド順をRelease⇒Debugに戻したい
  appveyor.yml
Labels: CI, appveyor

#971 インストーラーの作成にビルド済みヘルプを使いたい
  appveyor.md
  build-chm.bat
  help/extract-chm-from-artifact.ps1
Labels: CI, appveyor, document, installer

#963 clone_depthを指定する
  appveyor.yml
Labels: CI, appveyor

#972 マージ済みの Pull Request をGitHub 上の Revert ボタンでもとに戻すときに Azure Pipelines でビルドが走るようにする
  azure-pipelines.yml
Labels: CI, azure pipelines
