Repository sakura-editor/sakura, pull requests merged in 2019-05, with the labels that each got.

#888 Azure Pipelines で EXEとInstallerのzipのmd5ファイルを生成できるようにする
  zipArtifacts.bat
Labels: CI, azure pipelines

#891 Azure Pipelines の Artifacts に md5 ファイルを追加
  ci/azure-pipelines/template.job.build-unittest.yml
Labels: CI, azure pipelines

#882 SonarQube に関するドキュメントを更新
  SonarQube.md
Labels: SonarQube, document

#837 googletest のテスト結果を成功、失敗含めて azure pipelines の Web サイトで確認できるようにする
  azure-pipelines.md
  ci/azure-pipelines/template.job.build-unittest.yml
  tests/run-tests.bat
Labels: CI, UnitTest, appveyor, azure pipelines

#895 Inno Setup での OS の対応バージョンを Windows 7 以降に変更
  installer/sakura-common.iss
Labels: installer

#918 Pull Request Template を導入する
  .github/PULL_REQUEST_TEMPLATE.md
  appveyor.yml
  azure-pipelines.yml
Labels: management

#933 Issue Template を改善する
  .github/ISSUE_TEMPLATE/1_bug.md
Labels: document
