Repository sakura-editor/sakura, pull requests merged in 2020-12, with the labels that each got.

#1480 静的解析SonarCloudの対象を1環境に絞る
  ci/azure-pipelines/template.job.SonarQube.yml
Labels: CI, SonarQube, azure pipelines

#1481 コンボボックスのサブクラス化に関連するクラッシュバグの修正
  sakura_core/dlg/CDialog.cpp
  sakura_core/dlg/CDialog.h
  sakura_core/dlg/CDlgOpenFile_CommonFileDialog.cpp
Labels: 🐛bug🦋, 💩degradation🧻🚽

#1484 静的解析SonarCloudのためのJavaをJDK11に更新する
  SonarQube.md
  ci/azure-pipelines/template.job.SonarQube.yml
Labels: CI, SonarQube, azure pipelines, document

#1474 ファイル保存時の既定のファイル名を日時にする
  help/sakura/res/HLP000021.html
  help/sakura/res/images/FileSave.png
  sakura_core/doc/CDocFileOperation.cpp
Labels: specification change

#1487 GitHub Actionsでデバッグ版インストーラを作成しないようにする
  .github/workflows/build-sakura.yml
Labels: CI, GitHub Actions

#1483 GetDateTimeFormatの出力バッファサイズチェックを実装する
  sakura_core/util/format.cpp
  sakura_core/util/format.h
  tests/unittests/test-format.cpp
  tests/unittests/tests1.vcxproj
  tests/unittests/tests1.vcxproj.filters
Labels: Test, UnitTest, refactoring

#1493 Visual Studio Community 2019 で tests1 を編集すると意図しない変更が挿入されるの対策
  tests/unittests/tests1.vcxproj.filters
Labels: IMPORTANT, Test, UnitTest, environment, local build
