Repository sakura-editor/sakura, pull requests merged in 2022-01, with the labels that each got.

#1750 補完候補一覧ダイアログの不具合修正
  sakura_core/CHokanMgr.cpp
  sakura_core/apiwrap/StdControl.cpp
  tests/unittests/test-StdControl.cpp
Labels: 🐛bug🦋

#1753 トリプルクリック時に次の行の先頭にURLがあるとそれが選択されてしまう現象が起きないように対策
  sakura_core/view/CEditView_Mouse.cpp
Labels: 🐛bug🦋

#1764 Visual Studio 2022を使用したローカルビルドに対応する
  tools/find-tools.bat
  vcx-props/vcxcompat.props
Labels: local build, visual studio 2022

#1754 BSキーでカーソル前を削除時に画面が余計に再描画される事を防ぐ
  sakura_core/cmd/CViewCommander_Edit.cpp
Labels: :bullettrain_front: speed up :rocket:

#1766 コンパイルチェックで利用するPythonバージョンを変更する
  ci/azure-pipelines/template.job.python-check.yml
Labels: azure pipelines

#1771 MinGWビルドで使用するビルドツールを更新する
  ci/azure-pipelines/template.steps.install-mingw-w64-gcc.yml
Labels: MinGW, azure pipelines

#1765 Azure Pipelinesの不要な警告メッセージを削減する
  ci/azure-pipelines/template.job.build-unittest.yml
Labels: azure pipelines

#1773 Azure PipelinesにおけるWindows Server 2016環境の利用を廃止する
  azure-pipelines.yml
  ci/azure-pipelines/azure-pipelines.md
Labels: azure pipelines

#1777 CIでVS2022を利用したビルドを行うようにする
  .github/workflows/build-sakura.yml
  azure-pipelines.yml
  ci/azure-pipelines/template.job.build-unittest.yml
  ci/init-locale-emulator.ahk
Labels: azure pipelines, GitHub Actions, visual studio 2022
